<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    
    <h3>User Update detail Page</h3>

    <form action="updateuser" method="post">
        <input type="text" name="id" id="" value="{{data._id}}">

        <div>
            <label for="">Your Name</label>
            <input type="text" name="name" value="{{data.name}}">
        </div><br>
        <div>
            <label for="">Your Email</label>
            <input type="email" name="email" value="{{data.email}}">
        </div><br>
        <div>
            <label for="">Your Password</label>
            <input type="text" name="password" value="{{data.password}}">
        </div><br>
        <div>
            <label for="">Your Phone</label>
            <input type="text" name="phone" value="{{data.phone}}">
        </div><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>